[submodule "CoreDesign/Source/FPiGA-CoreLib"]
	path = CoreDesign/Source/FPiGA-CoreLib
	url = https://github.com/Radical-Computer-Technologies/FPiGA-CoreLib
[submodule "CoreDesign-Circle/Source/circle-fpiga"]
	path = CoreDesign-Circle/Source/circle-fpiga
	url = https://github.com/Radical-Computer-Technologies/circle-fpiga
