[submodule "CoreDesign/Source/FPiGA-CoreLib"]
	path = CoreDesign/Source/FPiGA-CoreLib
	url = https://github.com/Radical-Computer-Technologies/FPiGA-CoreLib
[submodule "CoreDesign-Circle/Source/circle"]
	path = CoreDesign-Circle/Source/circle
	url = https://github.com/rsta2/circle
