
IO_LOC "SDA_IN" K4;
IO_PORT "SDA_IN" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SCL_IN" G2;
IO_PORT "SCL_IN" PULL_MODE=UP BANK_VCCIO=3.3;


IO_LOC "CLK_50M" E2;
IO_PORT "CLK_50M" PULL_MODE=DOWN BANK_VCCIO=3.3;

//IO_LOC "BCKO" J1;
//IO_PORT "BCKO"  BANK_VCCIO=3.3;

//IO_LOC "I2S_BCK_IN" J1;
//IO_PORT "I2S_BCK_IN" PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "I2S_LRCK_IN" K4;
//IO_PORT "I2S_LRCK_IN" PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "I2S_SDA_IN" J4;
//IO_PORT "I2S_SDA_IN" PULL_MODE=UP BANK_VCCIO=3.3;

//IO_LOC "I2S_BCK_OUT" G4;
//IO_PORT "I2S_BCK_OUT" PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "I2S_LRCK_OUT" H1;
//IO_PORT "I2S_LRCK_OUT" PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "I2S_SDA_OUT" H2;
//IO_PORT "I2S_SDA_OUT" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "FPGA67" F2;
IO_PORT "FPGA67" BANK_VCCIO=3.3;
IO_LOC "FPGA75" E1;
IO_PORT "FPGA75" BANK_VCCIO=3.3;
IO_LOC "FPGA77" D1;
IO_PORT "FPGA77" BANK_VCCIO=3.3;
IO_LOC "FPGA71" A1;
IO_PORT "FPGA71" BANK_VCCIO=3.3;
//IO_LOC "DONE" D7;
//IO_PORT "DONE" BANK_VCCIO=3.3;

IO_LOC "MUTEEN" L9;
IO_PORT "MUTEEN" BANK_VCCIO=3.3;
IO_LOC "I2S_BCK_RPI" G4;
IO_PORT "I2S_BCK_RPI" BANK_VCCIO=3.3;
IO_LOC "MCLKXCO_OUT" L4;
IO_PORT "MCLKXCO_OUT" BANK_VCCIO=3.3;
IO_LOC "I2S_BCK" J1;
IO_PORT "I2S_BCK" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_SDA_IN_RPI" H4;
IO_PORT "I2S_SDA_IN_RPI" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_LRCK_RPI" H2;
IO_PORT "I2S_LRCK_RPI" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_LRCK_DAC" K1;
IO_PORT "I2S_LRCK_DAC" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_LRCK_ADC" L1;
IO_PORT "I2S_LRCK_ADC" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_SDA_DAC" K2;
IO_PORT "I2S_SDA_DAC" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "I2S_SDA_ADC" L2;
IO_PORT "I2S_SDA_ADC" PULL_MODE=DOWN BANK_VCCIO=3.3;

